<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<!-- CSS -->
		<link rel="stylesheet" th:href="@{/css/signin_signup.css}">
		
		<link rel="stylesheet" th:href="@{/css/style.css}">
		
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

		
		<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css}">



</head>
<body>
	<header>
						<div class="logo">
							<a th:href="@{/home/index}" >
								<img th:src="@{/img/logo.png}" alt="" />

							</a>
							      </div>
							      <div class="menu">
							        <li>
										<a th:href="@{/home/cartegory/{gioiTinh}(gioiTinh='false')}">NỮ</a>
							          <ul class="sub-menu">
							            <li><a href="">Hàng Mới Về</a></li>
							            <li><a href="">Colection</a></li>
							            <li>
							              <a href="">Áo</a>
							              <ul>
							                <li><a href="">Áo Sơ Mi</a></li>
							                <li><a href="">Áo Thun</a></li>
							                <li><a href="">Áo Khoác</a></li>
							                <li><a href="">Áo Vest</a></li>
							              </ul>
							            </li>
							            <li>
							              <a href="">Quần</a>
							              <ul>
							                <li><a href="">Quần Jean</a></li>
							                <li><a href="">Quần Lửng</a></li>
							                <li><a href="">Quần Dài</a></li>
							              </ul>
							            </li>
							          </ul>
							        </li>
							        <li><a th:href="@{/home/cartegory/{gioiTinh}(gioiTinh='true')}">NAM</a></li>
							        <li><a th:href="@{/home/cartegory}">TẤT CẢ</a></li>
							        <li><a href="">SALE</a></li>
							        <li><a href="">BST</a></li>
							        <li><a href="">THÔNG TIN</a></li>
							      </div>
							      <div class="orthers">
							        <li>
							          <input type="text" placeholder="Tìm Kiếm" />
							          <i class="fa-solid fa-magnifying-glass"></i>
							        </li>
							        <li><i class="fa-solid fa-headphones"></i></li>
							        <li><i class="fa-solid fa-user"></i></li>
							        <li><a th:href="@{/home/cart/view}"><i class="fa-solid fa-bag-shopping"></i></a></li>
						</div>

				      
				    </header>
	
		<h2 class="mt-3">Đăng nhập/Đăng ký</h2>
		<c:if test="${loginSuccess}">
		    <div class="alert alert-danger" role="alert">
				<p th:text="${mesage}"> </p>
		    </div>
		</c:if>

		    <div class="container" id="container">
		        <div class="form-container sign-up-container">
		            <form action="/home/register" method="post">
		                <h1>ĐĂNG KÝ</h1>
		                <span>Sử dụng số điện thoại của bạn để đăng ký</span>
		                <input name="fullname" type="text" placeholder="Tên" required />
		                <input name="sdt" type="number" style="appearance: textfield;" placeholder="số điện thoại"  required />
						<input name="email" type="email" style="appearance: textfield;" placeholder="email" required  />
		                <input name="password" type="password" placeholder="Password" required />
		                <button type="submit" >Đăng ký</button>
		            </form>
		        </div>
		        <div class="form-container sign-in-container">
		            <form action="/home/login" method="post">
		                <h1>ĐĂNG NHẬP</h1>
		                <input name="sdtlLogIn" type="number" placeholder="số điện thoại"  style="appearance: textfield;" required />
		                <input name="passwordLogIn" type="password" placeholder="Password" required />
		                <a href="">Quên mật khẩu?</a>
		                <button type="submit" onclick="AlertLogin()">Đăng nhập</button> 	
		            </form>
		        </div>
		        <div class="overlay-container">
		            <div class="overlay">
		                <div class="overlay-panel overlay-left">
		                    <h1>Chào mừng quay trở lại!</h1>
		                    <p>Đăng nhập nếu bạn đã có tài khoản</p>
		                    <button class="ghost" id="signIn">ĐĂNG NHẬP</button>
		                </div>
		                <div class="overlay-panel overlay-right">
		                    <h1>Chào bạn!</h1>
		                    <p>Nêu bạn chưa có tài khoản hãy đăng ký tại đây</p>
		                    <button class="ghost" id="signUp">ĐĂNG KÝ</button>
		                </div>
		            </div>
		        </div>
		    </div>
</body>
<script>
const signUpButton = document.getElementById('signUp');
const signInButton = document.getElementById('signIn');
const container = document.getElementById('container');

signUpButton.addEventListener('click', () => {
    container.classList.add('right-panel-active');
});

signInButton.addEventListener('click', () => {
    container.classList.remove('right-panel-active');
});





</script>  </html>